.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: #828282;
    margin-bottom: 10px; 
}

.card-buy {
    height: 50px;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    text-align: center;
    border: 1px solid;
    color: #A8A733;
    background-color: #606C38;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
}

.card-buy:hover {
    color: #606C38;
    background-color: #A8A733;
}